and1
andg_tb.vcd
or1
org_tb.vcd
nand1
nandg_tb.vcd
norg_tb.vcd
xor1
xorg_tb.vcd
xnor1
xnorg_tb.vcd
not1
notg_tb.vcd
not_nand
not_nand_tb.vcd
and_nand
and_nand_tb.vcd
ha
ha_tb.vcd
fa
fa_tb.vcd
ha_fa
ha_fa_tb.vcd
rca
rca_tb.vcd
or_nand
or_nand_tb.vcd
nor_nand
nor_nand_tb.vcd
xor_nand
xor_nand_tb.vcd
xnor_nand
xnor_nand_tb.vcd
not_nor
not_nor_tb.vcd
and_nor
and_nor_tb.vcd
or_nor
or_nor_tb.vcd
nand_nor
nand_nor_tb.vcd
xor_nor
xor_nor_tb.vcd
xnor_nor
xnor_nor_tb.vcd
or_using_nand